<div class="container">
<h3>
    <span>Received Hits</span>
    <input type="search" placeholder="Search..." class="form-control search-input" data-table="hits-table"/>
</h3>
<table class="table table-striped mt32 hits-table" id="hits-table">
  <thead>
    <th>Agent</th>
    <th>Ip</th>
    <th>Referrer</th>
    <th>Code</th>
    <th>Path</th>
    <th>Created At</th>
    <th>Headers</th>
  </thead>

<% @hits.each do |hit| %>
  <tr>
    <td><%= hit.agent %></td>
    <td><%= hit.ip %></td>
    <td><%= hit.referrer %></td>
    <td><%= hit.code %></td>
    <td><%= hit.path %></td>
    <td><%= hit.created_at %></td>
    <td><div class="large-div"><%= hit.all_headers.html_safe %></div></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Clear hits', hits_clear_path,:confirm => 'Are you sure you want to clear all hits?' %>
</div>
    <script>
        (function(document) {
            'use strict';

            var TableFilter = (function(myArray) {
                var search_input;

                function _onInputSearch(e) {
                    search_input = e.target;
                    var tables = document.getElementsByClassName(search_input.getAttribute('data-table'));
                    myArray.forEach.call(tables, function(table) {
                        myArray.forEach.call(table.tBodies, function(tbody) {
                            myArray.forEach.call(tbody.rows, function(row) {
                                var text_content = row.textContent.toLowerCase();
                                var search_val = search_input.value.toLowerCase();
                                row.style.display = text_content.indexOf(search_val) > -1 ? '' : 'none';
                            });
                        });
                    });
                }

                return {
                    init: function() {
                        var inputs = document.getElementsByClassName('search-input');
                        myArray.forEach.call(inputs, function(input) {
                            input.oninput = _onInputSearch;
                        });
                    }
                };
            })(Array.prototype);

            document.addEventListener('readystatechange', function() {
                if (document.readyState === 'complete') {
                    TableFilter.init();
                }
            });

        })(document);
    </script>

