<h1>Listing Hits</h1>

<table>
  <tr>
    <th>Agent</th>
    <th>Ip</th>
    <th>Referrer</th>
    <th>Code</th>
    <th>Created At</th>
  </tr>

<% @hits.each do |hit| %>
  <tr>
    <td><%= hit.agent %></td>
    <td><%= hit.ip %></td>
    <td><%= hit.referrer %></td>
    <td><%= hit.code %></td>
    <td><%= hit.created_at %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Clear hits', hits_clear_path,:confirm => 'Are you sure you want to clear all hits?' %>

