<div class="container">
<h3>
    <span>Received Hits</span>
    <input type="search" placeholder="Search..." class="form-control search-input" data-table="hits-table"/>
</h3>
<table class="table table-striped mt32 hits-table" id="hits-table">
  <thead>
    <th>Agent</th>
    <th>Ip</th>
    <th>Referrer</th>
    <th>Code</th>
    <th>Path</th>
    <th>Created At</th>
    <th>Headers</th>
    <th>&nbsp;</th>
  </thead>

<% @hits.each do |hit| %>
  <tr id="tr-for-hit-<%=hit.id%>">
    <td><%= hit.agent %></td>
    <td><%= hit.ip %></td>
    <td><%= hit.referrer %></td>
    <td><%= hit.code %></td>
    <td><%= hit.path %></td>
    <td><%= hit.created_at %></td>
    <td><div class="large-div"><%= hit.all_headers.html_safe %></div></td>
    <td><button class="delete-hit" data-hit-id="<%= hit.id %>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg></button></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Clear hits', hits_clear_path,:confirm => 'Are you sure you want to clear all hits?' %>
</div>
