<h1>Listing Hits</h1>

<table id="hits-table">
  <thead>
    <th>Agent</th>
    <th>Ip</th>
    <th>Referrer</th>
    <th>Code</th>
    <th>Path</th>
    <th>Created At</th>
    <th>Headers</th>
  </thead>

<% @hits.each do |hit| %>
  <tr>
    <td><%= hit.agent %></td>
    <td><%= hit.ip %></td>
    <td><%= hit.referrer %></td>
    <td><%= hit.code %></td>
    <td><%= hit.path %></td>
    <td><%= hit.created_at %></td>
    <td><div class="large-div"><%= hit.all_headers.html_safe %></div></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Clear hits', hits_clear_path,:confirm => 'Are you sure you want to clear all hits?' %>


<script>
 var filtersConfig = {
  base_path: 'assets/',
  auto_filter: {
                    delay: 110 //milliseconds
              },
              filters_row_index: 1,
              rows_counter: true,
              btn_reset: true,
              status_bar: true,
              msg_filter: 'Filtering...'
            };
            var tf = new TableFilter('hits-table',filtersConfig);
            tf.init();
          </script>